<!DOCTYPE html>
<html lan="en">

<head>
	<title>Profile</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Pinyon+Script|Rancho' rel='stylesheet' type='text/css'>
	<link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding: 30px;
        background-color: white;
      }
    </style>
   
</head>

<body>
	<!-- NAVBAR
    ================================================== -->
   <div class="navbar navbar-inverse navbar-fixed-top"> 
     <div class="navbar-inner">
        <div class = "container">
         	<h1> My Garden, Your Garden </h1>
        </div>
      </div>
    </div>


	
	
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>