<!DOCTYPE html>
<html lan="en">

<head>
	<title>Profile</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Pinyon+Script|Rancho' rel='stylesheet' type='text/css'>
	<link href="../static/css/bootstrap.css" rel="stylesheet">
  
  <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
  
  <link href="../static/css/login.css" rel="stylesheet">
  
    
    <style type="text/css">
      body {
        padding: 30px;
        background-color: white;
      }
    </style>
   
</head>

<body>
  <div class="container">
	<!-- NAVBAR
    ================================================== -->
   <div class="navbar navbar-inverse navbar-fixed-top"> 
     <div class="navbar-inner">
        <div class = "container">
         	<h1> My Garden, Your Garden </h1>
      </div>
    </div>

  <!-- Profile
    ================================================== -->
    <br><br><br>
    <div class="container marketing">

      <!-- Three columns pic, user info, menu -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" src="../static/img/twins.jpg">
        </div>
        <div class="span4">
          <form action='/profile' method='GET'>
          <table class="table profile">
            <tr><h2> Welcome {{user.firstname}} {{user.lastname}} </h2></tr>
            <tr><h2> Email: {{user.email}}</h2></tr>
            <tr><h2> Address:</h2></tr>
            <tr> 
              <td>{{user.address}}</td>
              <td>{{user.city}}, {{user.state}}</td>
            </tr>
          </table>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Visit the community</h2>
         
         <div class="list">
         <ul>
            <li><a href="/buyProduct"><i class="icon-leaf"> </i>Buy from neighbors</a></li>
            </br>
        
            <li><a href="/addProduct"><i class="icon-leaf"> </i>Sell to neighbors</a></li>
            </br>
            <li><a href="/communityBlog"><i class="icon-leaf"> </i> Talk with the community </a></li>
            </br>
            <li><a href="logout"><i class="icon-leaf"> </i> Logout </a></li>
          </ul>
        </div>
          
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    </form>

    </div><!--container-->
	 
   {%block context%}{%endblock%}
	
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>